<section class="u-large-vertical-padding">
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__cell o-grid__cell--8 u-relative">
        <h1 class="u-push-down">The Discussion</h1>
      </div>
      <div class="o-grid__cell o-grid__cell--10 o-grid__cell--pull-6 u-double-push-down">
        <div class="c-card c-card--no-shadow u-radius u-push-down">
          <div class="c-card__content u-large-bottom-padding">
            <div class="u-push-down u-text-right">
              <%= link_to user_signed_in? ? "Add a new topic" : "Log in & add a new topic",
                    new_discussion_path, class: "c-button c-button--primary" %>
            </div>
            <div class="c-discussion-items u-push-down">
              <% if @discussions.present? %>
                <%= render @discussions %>
              <% else %>
                <p>
                  Looks like no one has added a topic yet. How about
                  <%= link_to "starting the conversation", new_discussion_path %>?
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  new QBE.Voting();
</script>
