.v-home-banner {
  background: url('https://images.unsplash.com/photo-1462743708072-4ed3a4a860be?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=1928&q=80&cs=tinysrgb') center center no-repeat;
  background-size: cover;
  padding: $base-line-height*3 0;
  position: relative;

  &:before {
    background: #212121;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.v-home-banner__heading {
  border: 5px solid white;
  padding: $base-line-height;
  position: relative;

  &:before {
    content: "The";
    font-size: 1rem;
    font-weight: 400;
    left: 0;
    line-height: 1;
    padding: 0.5rem;
    position: absolute;
    top: 0;
  }
}

.v-home-roundtable {
  margin-top: -5*$base-line-height;
  padding-left: 64px;
  padding-right: 64px;
}

.v-home-question-image {
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: -4*$base-line-height;
  padding-bottom: $base-line-height;
  width: 100%;
  z-index: 0;
}

.v-home-question-image__img {
  background: url('https://images.unsplash.com/photo-1461950209984-1ce1f03a1be9?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=1499&q=80&cs=tinysrgb') center center no-repeat;
  background-size: cover;
  height: 17*$base-line-height;
  width: 100%;
}
