<div id="papers_content" class="o-grid u-double-push-down">
  <div class="o-grid__cell o-grid__cell--4">
    <h1>Papers</h1>
    <h6 class="c-sub-heading u-font-normal u-font-monospace">What have scholars said?</h6>
    <div>
      Sort by: &nbsp;&nbsp;&nbsp;
      <button
        class="c-button c-button--sort c-button--primary js-ascending"
        data-sort-by="author" data-sort-order="descend" data-icon-after
      >Author</button>
      <button
        class="c-button c-button--sort"
        data-sort-by="date" data-sort-order="descend" data-icon-after
      >Date</button>
    </div>
  </div>
  <div class="o-grid__cell o-grid__cell--8 u-double-push-down">
    <table id="papers_table">
      <tr data-name="Ajzen" data-date="2005">
        <td class="c-list-item u-font-bold">
          Ajzen, I., & Fishbein, M. (2005). The influence of attitudes on behavior.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            In D. Albarracin, B. T. Johnson, & M. P. Zanna (Eds.), <em>The handbook of attitudes</em> (pp. 173–221). Hillsdale, NJ: Lawrence Erlbaum.
          </span>
        </td>
      </tr>
      <tr data-name="Alba" data-date="1991">
        <td class="c-list-item u-font-bold">
          Alba, J.W., Hutchinson, J.W., & Lynch, J. G. (1991). Memory and decision making.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            In T. S. Robertson & H. H. Kassarjian (Eds.), <em>Handbook of consumer research</em>, (pp. 1–49): Englewood Cliffs, NJ: Prentice Hall.
          </span>
        </td>
      </tr>
      <tr data-name="Alexander" data-date="1989">
        <td class="c-list-item u-font-bold">
          Alexander, R. A., Scozzaro, M. J., & Borodkin, L. J. (1989). Statistical and empirical examination of the chi-square test for homogeneity of correlations in meta-analysis.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Psychological Bulletin</em>, 106(2), 329-331.
          </span>
        </td>
      </tr>
      <tr data-name="Armitage" data-date="2001">
        <td class="c-list-item u-font-bold">
          Armitage, C. J., & Conner, M. (2001). Efficacy of the theory of planned behaviour: A meta- anaytic review.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>British Journal of Social Psychology</em>, 40, 471-499.
          </span>
        </td>
      </tr>
      <tr data-name="Aronson" data-date="1968">
        <td class="c-list-item u-font-bold">
          Aronson, E. (1968). Dissonance theory: Progress and problems.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            In R. P. Abelson, E. Aronson, W. J. McGuire, T. M. Newcomb, M. J. Rosenerg, and P. H. Tannenebaum (Eds.), <em>Theories of cognitve consistency: A sourcebook</em> (pp. 5-27): Chicago: Rand McNally.
          </span>
        </td>
      </tr>
      <tr data-name="Bagozzi" data-date="1990">
        <td class="c-list-item u-font-bold">
          Bagozzi, R. P., Yi, Y., & Baumgartner, J. (1990). The level of effort required for behaviour as a moderator of the attitude–behaviour relation.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>European Journal of Social Psychology</em>, 20(1), 45–59.
          </span>
        </td>
      </tr>
      <tr data-name="Bamberg" data-date="2000">
        <td class="c-list-item u-font-bold">
          Bamberg, S. (2000). The promotion of new behavior by forming an implementation intention: Results of a field experiment in the domain of travel mode choice.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Applied Social Psychology</em>, 30(9), 1903-22.
          </span>
        </td>
      </tr>
      <tr data-name="Bandura" data-date="1989">
        <td class="c-list-item u-font-bold">
          Bandura, A. (1989). Self-regulation of motivation and action through internal standards and goal systems.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            In L. A. Pervin (Ed.), <em>Goal concepts in personality and social psychology</em> (pp. 19- 85): Hillsdale, NJ: Erlbaum.
          </span>
        </td>
      </tr>
      <tr data-name="Baumeister" data-date="2001">
        <td class="c-list-item u-font-bold">
          Baumeister, R. F., Bratslavsky, E., Finkenauer, C., & Vohs, K. D. (2001). Bad is stronger than good.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Review of General Psychology</em>, 5, 323–370.
          </span>
        </td>
      </tr>
      <tr data-name="Borenstein" data-date="2009">
        <td class="c-list-item u-font-bold">
          Borenstein, M., Hedges, L. V., Higgins, J. P. T., & Rothstein, H. R. (2009).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Introduction to meta-analysis</em>. West Sussex, UK: Wiley.
          </span>
        </td>
      </tr>
      <tr data-name="Borenstein" data-date="2014">
        <td class="c-list-item u-font-bold">
          Borenstein, M., Hedges, L. V., Higgins, J. P. T., & Rothstein, H. R. (2014).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Comprehensive meta-analysis (Version 3.2.00089)</em> [software]. Englewood, NJ: Biostat.
          </span>
        </td>
      </tr>
      <tr data-name="Borle" data-date="2007">
        <td class="c-list-item u-font-bold">
          Borle, S., Dholakia, U. M., Singh, S. S., & Westbrook, R. A. (2007). The impact of survey participation on subsequent customer behavior: An empirical investigation.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Marketing Science</em>, 26(5), 711-726.
          </span>
        </td>
      </tr>
      <tr data-name="Bowling" data-date="2005">
        <td class="c-list-item u-font-bold">
          Bowling, A. (2005). Mode of questionnaire administration can have serious effects on data quality.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Public Health</em>, 27(3) 281-291.
          </span>
        </td>
      </tr>
      <tr data-name="Chandon" data-date="2004">
        <td class="c-list-item u-font-bold">
          Chandon, P., Morwitz, V. G., & Reinartz, W. J. (2004). The short- and long-term effects of measuring intent to repurchase.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 31(3), 566-572.
          </span>
        </td>
      </tr>
      <tr data-name="Chandon" data-date="2011">
        <td class="c-list-item u-font-bold">
          Chandon, P., Smith, R. J., Morwitz, V. G., Spangenberg, E. R., & Sprott, D. E. (2011). When does the past repeat itself? The interplay of behavior prediction and personal norms.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 38(3), 420-430.
          </span>
        </td>
      </tr>
      <tr data-name="Chapman" data-date="1996">
        <td class="c-list-item u-font-bold">
          Chapman, K. J. (1996).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Questionnaire effects on behavior: Mere measurement effects and the accessibility of attitudes and intentions</em>. Unpublished doctoral dissertation, University of Colorado at Boulder, Boulder, CO.
          </span>
        </td>
      </tr>
      <tr data-name="Chapman" data-date="2001">
        <td class="c-list-item u-font-bold">
          Chapman, K. J. (2001). Measuring intent: There's nothing "mere" about mere measurement effects.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Psychology & Marketing</em>, 18(8), 811-841.
          </span>
        </td>
      </tr>
      <tr data-name="Cialdini" data-date="2004">
        <td class="c-list-item u-font-bold">
          Cialdini, R. B., & Goldstein, N. J. (2004). Social influence: compliance and conformity.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Annual Review of Psychology</em>, 55, 591-621.
          </span>
        </td>
      </tr>
      <tr data-name="Cialdini" data-date="1998">
        <td class="c-list-item u-font-bold">
          Cialdini, R. B., & Trost, M. R. (1998). Social influence: Social norms, conformity and compliance.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            In D. T. Gilbert, S. T. Fiske & G. Lindzey (Eds.), <em>The handbook of social psychology</em> (Vol. 1 and 2, 4th Edition). New York, NY: McGraw-Hill.
          </span>
        </td>
      </tr>
      <tr data-name="Cioffi" data-date="1998">
        <td class="c-list-item u-font-bold">
          Cioffi, D., & Garner, R. (1998). The effect of response options on decisions and subsequent behaviour: Sometimes in action is better.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Personality and Social Psychology Bulletin</em>, 24(5), 463-472.
          </span>
        </td>
      </tr>
      <tr data-name="Cohen" data-date="1988">
        <td class="c-list-item u-font-bold">
          Cohen, J. (1988).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Statistical power analysis for behavioral sciences</em>. Hillsdale, NJ: Erlbaum.
          </span>
        </td>
      </tr>
      <tr data-name="Conner" data-date="2011">
        <td class="c-list-item u-font-bold">
          Conner, M., Godin, G., Norman, P., & Sheeran, P. (2011). Using the question-behavior effect to promote disease prevention behaviors: Two randomized controlled trials.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Health Psychology</em>, 30(3), 300-309.
          </span>
        </td>
      </tr>
      <tr data-name="Conner" data-date="2010">
        <td class="c-list-item u-font-bold">
          Conner, M., Sandberg, T., & Norman, P. (2010). Using action planning to promote exercise behavior.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Annals of Behavioral Medicine</em>, 40(1), 65-76.
          </span>
        </td>
      </tr>
      <tr data-name="Dholakia" data-date="2010">
        <td class="c-list-item u-font-bold">
          Dholakia, U. M. (2010). A critical review of question-behavior effect research.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            In N. K. Malhotra (Ed.), <em>Review of Marketing Research</em> (Vol. 7, pp. 145-197): Emerald.
          </span>
        </td>
      </tr>
      <tr data-name="Dholakia" data-date="2002">
        <td class="c-list-item u-font-bold">
          Dholakia, U. M., & Morwitz, V. G. (2002). The scope and persistence of mere-measurement effects: Evidence from a field study of customer satisfaction measurement.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 29(2), 159-167.
          </span>
        </td>
      </tr>
      <tr data-name="Dholakia" data-date="2004">
        <td class="c-list-item u-font-bold">
          Dholakia, U. M., Morwitz, V. G., & Westbrook, R. A. (2004). Firm-sponsored satisfaction surveys: Positivity effects on customer purchase behavior?
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>MSI Reports, Working Paper Series(4)</em>, 95-112.
          </span>
        </td>
      </tr>
      <tr data-name="Fazio" data-date="1989">
        <td class="c-list-item u-font-bold">
          Fazio, R. H. (1989). On the power and functionality of attitudes: The role of attitude accessibility.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            In A. R. Pratkanis, S. J. Breckler, & A. G. Greenwald (Eds.), <em>Attitude structure and function</em>, (pp. 153–179): Hillsdale, NJ: Erlbaum.
          </span>
        </td>
      </tr>
      <tr data-name="Fazio" data-date="1983">
        <td class="c-list-item u-font-bold">
          Fazio, R. H., Powell, M. C., & Herr, P. M. (1983). Toward a process model of the attitude- behavior relation: Accessing one’s attitude upon mere observation of the attitude object.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Personality and Social Psychology</em>, 44, 723-735.
          </span>
        </td>
      </tr>
      <tr data-name="Fazio" data-date="1981">
        <td class="c-list-item u-font-bold">
          Fazio, R. H. & Zanna, M. P. (1981). Direct experience and attitude-behavior consistency.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            In L. Berkowitz (Ed.), <em>Advances in experimental social psychology</em> (Vol 14, pp. 162-202), New York: Academic.
          </span>
        </td>
      </tr>
      <tr data-name="Festinger" data-date="1957">
        <td class="c-list-item u-font-bold">
          Festinger, L. (1957).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>A theory of cognitive dissonance</em>. Stanford, CA: Stanford University Press.
          </span>
        </td>
      </tr>
      <tr data-name="Fitzsimons" data-date="2007">
        <td class="c-list-item u-font-bold">
          Fitzsimons, G., Block, L. G., & Williams, P. (2007). Asking questions about vices really does increase vice behavior.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Social Influence</em>, 2(4), 237-243.
          </span>
        </td>
      </tr>
      <tr data-name="Fitzsimons" data-date="2008">
        <td class="c-list-item u-font-bold">
          Fitzsimons, G. J., & Moore, S. G. (2008). Should we ask our children about sex, drugs and rock & roll? Potentially harmful effects of asking questions about risky behaviors.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Psychology</em>, 18(2), 82-95.
          </span>
        </td>
      </tr>
      <tr data-name="Fitzsimons" data-date="2007">
        <td class="c-list-item u-font-bold">
          Fitzsimons, G. J., Nunes, J. C., & Williams, P. (2007). License to sin: The liberating role of reporting expectations.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 34(1), 22-31.
          </span>
        </td>
      </tr>
      <tr data-name="Fitzsimons" data-date="2001">
        <td class="c-list-item u-font-bold">
          Fitzsimons, G. J., & Shiv, B. (2001). Nonconscious and contaminative effects of hypothetical questions on subsequent decision making.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 28(2), 224-238.
          </span>
        </td>
      </tr>
      <tr data-name="Fitzsimons" data-date="2000">
        <td class="c-list-item u-font-bold">
          Fitzsimons, G. J., & Williams, P. (2000). Asking questions can change choice behavior: Does it do so automatically or effortfully?
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Experimental Psychology: Applied</em>, 6(3), 195-206.
          </span>
        </td>
      </tr>
      <tr data-name="Gerber" data-date="2000">
        <td class="c-list-item u-font-bold">
          Gerber, A. S., & Green, D. P. (2005a). Correction to Gerber and Green (2000), replication of disputed findings, and reply to Imai (2005).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>The American Political Science Review</em>, 99(2), 301-313.
          </span>
        </td>
      </tr>
      <tr data-name="Gerber" data-date="2005">
        <td class="c-list-item u-font-bold">
          Gerber, A. S., & Green, D. P. (2005b). Do phone calls increase voter turnout? An update.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Annals of the American Academy of Political and Social Science</em>, 601, 142-154.
          </span>
        </td>
      </tr>
      <tr data-name="Godin" data-date="2011">
        <td class="c-list-item u-font-bold">
          Godin, G., Belanger-Gravel, A., Amireault, S., Vohl, M.-C., & Perusse, L. (2011). The effect of mere-measurement of cognitions on physical activity behavior: A randomized controlled trial among overweight and obese individuals.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>International Journal of Behavioral Nutrition and Physical Activity</em>, 8(1), 1-6.
          </span>
        </td>
      </tr>
      <tr data-name="Godin" data-date="2010">
        <td class="c-list-item u-font-bold">
          Godin, G., Sheeran, P., Conner, M., Delage, G., Germain, M., Bélanger-Gravel, A., & Naccache, H. (2010). Which survey questions change behavior? Randomized controlled trial of mere measurement interventions.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Health Psychology</em>, 29(6), 636-644.
          </span>
        </td>
      </tr>
      <tr data-name="Godin" data-date="2008">
        <td class="c-list-item u-font-bold">
          Godin, G., Sheeran, P., Conner, M., & Germain, M. (2008). Asking questions changes behavior: Mere measurement effects on frequency of blood donation.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Health Psychology</em>, 27(2), 179-184.
          </span>
        </td>
      </tr>
      <tr data-name="Gollwitzer" data-date="1999">
        <td class="c-list-item u-font-bold">
          Gollwitzer, P. M. (1999). Implementation intentions: Strong effects of simple plans.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>American Psychologist</em>, 54, 493–503.
          </span>
        </td>
      </tr>
      <tr data-name="Gollwitzer" data-date="2008">
        <td class="c-list-item u-font-bold">
          Gollwitzer, P. M., & Oettingen, G. (2008). The question-behavior effect from an action control perspective.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Psychology</em>, 18(2), 107-110.
          </span>
        </td>
      </tr>
      <tr data-name="Greenwald" data-date="2012">
        <td class="c-list-item u-font-bold">
          Greenwald, A. G. (2012). There is nothing so theoretical as a good method.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Perspectives on Psychological Science</em>, 7(2), 99-108.
          </span>
        </td>
      </tr>
      <tr data-name="Greenwald" data-date="1987">
        <td class="c-list-item u-font-bold">
          Greenwald, A. G., Carnot, C. G., Beach, R., & Young, B. (1987). Increasing voting behavior by asking people if they expect to vote.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Applied Psychology</em>, 72(2), 315-318.
          </span>
        </td>
      </tr>
      <tr data-name="Greenwald" data-date="1988">
        <td class="c-list-item u-font-bold">
          Greenwald, A. G., Klinger, M. R., Vande Kamp, M. E., & Kerr, K. L. (1988).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>The self-prophecy effect: Increasing voter turnout by vanity-assisted conscious raising</em>. Unpublished manuscript.
          </span>
        </td>
      </tr>
      <tr data-name="Hedges" data-date="1985">
        <td class="c-list-item u-font-bold">
          Hedges, L. V., & Olkin, I. (1985).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Statistical methods for meta-analysis</em>. Orlando, FL: Academic Press.
          </span>
        </td>
      </tr>
      <tr data-name="Higgins" data-date="2002">
        <td class="c-list-item u-font-bold">
          Higgins, J. P. T., & Thompson, S. G. (2002). Quantifying heterogeneity in a meta-analysis.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Statistics in Medicine</em>, 21(11), 1539-1558.
          </span>
        </td>
      </tr>
      <tr data-name="Holbrook" data-date="2003">
        <td class="c-list-item u-font-bold">
          Holbrook, A. L., Green, M. C., & Krosnick, J. A. (2003). Telephone versus face-to-face interviewing of national probability samples with long questionnaires: Comparisons of respondent satisficing and social desirability response bias.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Public Opinion Quarterly</em>, 67(1), 79-125.
          </span>
        </td>
      </tr>
      <tr data-name="Medina" data-date="2006">
        <td class="c-list-item u-font-bold">
          Huedo-Medina, T. B., Sánchez-Meca, J., Marín-Martínez, F., & Botella, J. (2006). Assessing heterogeneity in meta-analysis: Q statistic or I2 index?
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Psychological Methods</em>, 11(2), 193-206.
          </span>
        </td>
      </tr>
      <tr data-name="Hunter" data-date="2001">
        <td class="c-list-item u-font-bold">
          Hunter, J. E. (2001). The desperate need for replications.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 28(1), 149-158.
          </span>
        </td>
      </tr>
      <tr data-name="Hunter" data-date="2004">
        <td class="c-list-item u-font-bold">
          Hunter, J. E., & Schmidt, F. L. (2004).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Methods of meta-analysis: Correcting error and bias in research findings</em>. Thousand Oaks, CA: Sage.
          </span>
        </td>
      </tr>
      <tr data-name="Janiszewski" data-date="2007">
        <td class="c-list-item u-font-bold">
          Janiszewski, C., & Chandon, E. (2007). Transfer-appropriate processing response fluency, and the mere measurement effect.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Marketing Research</em>, 44(2), 309-323.
          </span>
        </td>
      </tr>
      <tr data-name="Kraut" data-date="1973">
        <td class="c-list-item u-font-bold">
          Kraut, R. E., & McConahay, J. B. (1973). How being interviewed affects voting: An experiment.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>The Public Opinion Quarterly</em>, 37(3), 398-406.
          </span>
        </td>
      </tr>
      <tr data-name="Kruglanski" data-date="2002">
        <td class="c-list-item u-font-bold">
          Kruglanski, A.W., Shah, J. Y., Fishbach, A., Friedman, R., Chun, W. Y., & Sleeth-Keppler, D. (2002). A theory of goal systems.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            In M. P. Zanna (Ed.), <em>Advances in Experimental Social Psychology</em> (Vol. 34, pp. 331-378): New York: Academic Press.
          </span>
        </td>
      </tr>
      <tr data-name="Levav" data-date="2006">
        <td class="c-list-item u-font-bold">
          Levav, J., & Fitzsimons, G. J. (2006). When questions change behavior.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Psychological Science</em>, 17(3), 207-213.
          </span>
        </td>
      </tr>
      <tr data-name="Levy" data-date="1981">
        <td class="c-list-item u-font-bold">
          Levy, S. (1981). Interpreting consumer mythology: A structural approach to consumer behavior.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Marketing</em>, 45(Summer), 49-61.
          </span>
        </td>
      </tr>
      <tr data-name="Lipsey" data-date="2001">
        <td class="c-list-item u-font-bold">
          Lipsey, M. W., & Wilson, D. B. (2001).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Practical meta-analysis</em> (Vol. 49). Thousand Oaks, CA: Sage.
          </span>
        </td>
      </tr>
      <tr data-name="Liu" data-date="2008">
        <td class="c-list-item u-font-bold">
          Liu, W., & Aaker, J. (2008). The happiness of giving: The time-ask effect.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 35(3), 543-557.
          </span>
        </td>
      </tr>
      <tr data-name="Morwitz" data-date="2004">
        <td class="c-list-item u-font-bold">
          Morwitz, V. G., & Fitzsimons, G. J. (2004). The mere-measurement effect: Why does measuring intentions change actual behavior?
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Psychology</em>, 14(1&2), 64-74.
          </span>
        </td>
      </tr>
      <tr data-name="Morwitz" data-date="1993">
        <td class="c-list-item u-font-bold">
          Morwitz, V. G., Johnson, E., & Schmittlein, D. (1993). Does measuring intent change behavior?
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 20(1), 46-61.
          </span>
        </td>
      </tr>
      <tr data-name="Motyka" data-date="2014">
        <td class="c-list-item u-font-bold">
          Motyka, S., Grewal, D., Puccinelli, N. M., Roggeveen, A. L., Avnet, T., Daryanto, A., Ruyter, K.D., & Wetzels, M. (2014). Regulatory fit: A meta-analytic synthesis.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Psychology</em>, 24(3), 394-410.
          </span>
        </td>
      </tr>
      <tr data-name="Nowlis" data-date="2002">
        <td class="c-list-item u-font-bold">
          Nowlis, S. M., Kahn, B. E., & Dhar, R. (2002). Coping with ambivalence: The effect of removing a neutral option on consumer attitude and preference judgments.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 29(3), 319-334.
          </span>
        </td>
      </tr>
      <tr data-name="Sullivan" data-date="2004">
        <td class="c-list-item u-font-bold">
          O'Sullivan, I., Orbell, S., Rakow, T., & Parker, R. (2004). Prospective research in health service settings: Health psychology, science and the 'Hawthorne' effect.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Health Psychology</em>, 9(3), 355-359.
          </span>
        </td>
      </tr>
      <tr data-name="Obermiller" data-date="2000">
        <td class="c-list-item u-font-bold">
          Obermiller, C., & Spangenberg, E. (2000). Improving telephone fundraising by use of self-prophecy.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>International Journal of Nonprofit and Voluntary Sector Marketing</em>, 5(4), 365-372.
          </span>
        </td>
      </tr>
      <tr data-name="Obermiller" data-date="1992">
        <td class="c-list-item u-font-bold">
          Obermiller, C., Spangenberg, E. R., & Atwood, A. (1992).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Getting people to give more: A telephone funds-soliciting strategy based on the self-erasing nature of errors of prediction. Paper presented at the Marketing Theory and Applications.
          </span>
        </td>
      </tr>
      <tr data-name="Ofir" data-date="2007">
        <td class="c-list-item u-font-bold">
          Ofir, C., & Simonson, I. (2007). The effect of stating expectations on customer satisfaction and shopping experience.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Marketing Research</em>, 44(1), 164-174.
          </span>
        </td>
      </tr>
      <tr data-name="Perkins" data-date="2008">
        <td class="c-list-item u-font-bold">
          Perkins, A., Smith, R. J., Sprott, D. E., Spangenberg, E. R., & Knuff, D. C. (2008).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Understanding the self-prophecy phenomenon</em>. Paper presented at the European Advances in Consumer Research, Duluth, MN.
          </span>
        </td>
      </tr>
      <tr data-name="Richard" data-date="2003">
        <td class="c-list-item u-font-bold">
          Richard, F. D., Bond, C. F., & Stokes-Zoota, J. J. (2003). One hundred years of social psychology quantitatively described.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Review of General Psychology</em>, 7 (4), 331-363.
          </span>
        </td>
      </tr>
      <tr data-name="Richman" data-date="1999">
        <td class="c-list-item u-font-bold">
          Richman, W. L., Kiesler, S., Weisband, S., & Drasgow, F. (1999). A meta-analytic study of social desirability distortion in computer-administered questionnaires, traditional questionnaires, and interviews.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Applied Psychology</em>, 84(5), 754-775.
          </span>
        </td>
      </tr>
      <tr data-name="Rosenthal" data-date="1991">
        <td class="c-list-item u-font-bold">
          Rosenthal, R. (1991).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Meta-analytic procedures for social research</em> (Vol. 6). Newbury Park, CA: Sage.
          </span>
        </td>
      </tr>
      <tr data-name="Sandberg" data-date="2009">
        <td class="c-list-item u-font-bold">
          Sandberg, T., & Conner, M. (2009). A mere measurement effect for anticipated regret: Impacts on cervical screening attendance.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>British Journal of Social Psychology</em>, 48(2), 221-236.
          </span>
        </td>
      </tr>
      <tr data-name="Schultz" data-date="1996">
        <td class="c-list-item u-font-bold">
          Schultz, P. W., & Oskamp, S. (1996). Effort as a moderator of the attitude-behavior relationship: general environmental concern and recycling.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Social Psychology Quarterly</em>, 59(4), 375-383.
          </span>
        </td>
      </tr>
      <tr data-name="Sheppard" data-date="1988">
        <td class="c-list-item u-font-bold">
          Sheppard, B. H., Hartwick, J., & Warshaw, P. R. (1988). The theory of reasoned action: A meta- analysis of past research with recommendations for modifications and future research.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 15(3), 325-343.
          </span>
        </td>
      </tr>
      <tr data-name="Sherman" data-date="1980">
        <td class="c-list-item u-font-bold">
          Sherman, S. J. (1980). On the self-erasing nature of errors of prediction.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Personality and Social Psychology</em>, 39(2), 211-221.
          </span>
        </td>
      </tr>
      <tr data-name="Smith" data-date="2003">
        <td class="c-list-item u-font-bold">
          Smith, J. K., Gerber, A. S., & Orlich, A. (2003). Self-prophecy effects and voter turnout: An experimental replication.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Political Psychology</em>, 24(3), 593-604.
          </span>
        </td>
      </tr>
      <tr data-name="Spangenberg" data-date="1997">
        <td class="c-list-item u-font-bold">
          Spangenberg, E. (1997). Increasing health club attendance through self-prophecy.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Marketing Letters</em>, 8(1), 23-31.
          </span>
        </td>
      </tr>
      <tr data-name="Spangenberg" data-date="1996">
        <td class="c-list-item u-font-bold">
          Spangenberg, E., & Obermiller, C. (1996). To cheat or not to cheat: Reducing cheating by requesting self-prophecy.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Marketing Education Review</em>, 6(3), 95-103.
          </span>
        </td>
      </tr>
      <tr data-name="Spangenberg" data-date="1999">
        <td class="c-list-item u-font-bold">
          Spangenberg, E. R., & Greenwald, A. G. (1999). Social influence by requesting self-prophecy.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Psychology</em>, 8(1), 61-89.
          </span>
        </td>
      </tr>
      <tr data-name="Spangenberg" data-date="2008">
        <td class="c-list-item u-font-bold">
          Spangenberg, E. R., Greenwald, A. G., & Sprott, D. E. (2008). Will you read this article's abstract? Theories of the question-behavior effect.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Psychology</em>, 18(2), 102-106.
          </span>
        </td>
      </tr>
      <tr data-name="Spangenberg" data-date="2006">
        <td class="c-list-item u-font-bold">
          Spangenberg, E. R., & Sprott, D. E. (2006). Self-monitoring and susceptibility to the influence of self-prophecy.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 32(4), 550-556.
          </span>
        </td>
      </tr>
      <tr data-name="Spangenberg" data-date="2003">
        <td class="c-list-item u-font-bold">
          Spangenberg, E. R., Sprott, D. E., Grohmann, B., & Smith, R. J. (2003). Mass-communicated prediction requests: Practical application and a cognitive dissonance explanation for self-prophecy.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Marketing</em>, 67(3), 47-62.
          </span>
        </td>
      </tr>
      <tr data-name="Spangenberg" data-date="2012">
        <td class="c-list-item u-font-bold">
          Spangenberg, E. R., Sprott, D. E., Obermiller, C., & Greenwald, A. G. (2012).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Dissonance and the question-behavior effect: Theoretical evidence for self-prophecy</em>. Unpublished paper.
          </span>
        </td>
      </tr>
      <tr data-name="Spangenberg" data-date="2012">
        <td class="c-list-item u-font-bold">
          Spangenberg, E. R., Sprott, D. E., Knuff, D.C., Smith, R.J., Obermiller, C., & Greenwald, A. G. (2012). Process evidence for the question–behavior effect: Influencing socially normative behaviors.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Social Influence</em>, 7(3), 211-228.
          </span>
        </td>
      </tr>
      <tr data-name="Spence" data-date="2009">
        <td class="c-list-item u-font-bold">
          Spence, J. C., Burgess, J., Rodgers, W., & Murray, T. (2009). Effect of pretesting on intentions and behaviour: A pedometer and walking intervention.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Psychology and Health</em>, 24(7), 777-789.
          </span>
        </td>
      </tr>
      <tr data-name="Sprott" data-date="2004">
        <td class="c-list-item u-font-bold">
          Sprott, D. E., Smith, R. J., Spangenberg, E. R., & Freson, T. S. (2004). Specificity of prediction requests: Evidence for the differential effects of self-prophecy on commitment to a health assessment.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Applied Social Psychology</em>, 34(June), 1176-1190.
          </span>
        </td>
      </tr>
      <tr data-name="Sprott" data-date="2006">
        <td class="c-list-item u-font-bold">
          Sprott, D. E., Spangenberg, E. R., Block, L. G., Fitzsimons, G. J., Morwitz, V. G. & Williams, P. (2006). The question-behavior effect: What we know and where we go from here.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Social Influence</em>, 1(2), 128-137.
          </span>
        </td>
      </tr>
      <tr data-name="Sprott" data-date="2012">
        <td class="c-list-item u-font-bold">
          Sprott, D. E., Spangenberg, E. R., Devezer, B., & Zidansek, M. (2012).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Gender and the question-behavior effect: Evidence of moderation from two experiments</em>. Unpublished manuscript.
          </span>
        </td>
      </tr>
      <tr data-name="Sprott" data-date="2003">
        <td class="c-list-item u-font-bold">
          Sprott, D. E., Spangenberg, E. R., & Fisher, R. (2003). The importance of normative beliefs to the self-prophecy effect.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Applied Psychology</em>, 88(3), 423-431.
          </span>
        </td>
      </tr>
      <tr data-name="Sprott" data-date="1999">
        <td class="c-list-item u-font-bold">
          Sprott, D. E., Spangenberg, E. R., & Perkins, A. W. (1999).
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Two more self-prophecy experiments</em>. Paper presented at the Advances in Consumer Research, Provo, UT.
          </span>
        </td>
      </tr>
      <tr data-name="Thorndike" data-date="1920">
        <td class="c-list-item u-font-bold">
          Thorndike, E. L. (1920). A constant error in psychological ratings.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Applied Psychology</em>, 4(1): 25–29
          </span>
        </td>
      </tr>
      <tr data-name="van Kerckhove" data-date="2012">
        <td class="c-list-item u-font-bold">
          van Kerckhove, A., Geuens, M., & Vermeir, I. (2012a). A motivational account of the question- behavior effect.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 39(1), 111-127.
          </span>
        </td>
      </tr>
      <tr data-name="van Kerckhove" data-date="2012">
        <td class="c-list-item u-font-bold">
          van Kerckhove, A., Geuens, M., & Vermeir, I. (2012b). Intention superiority perspectives on preference-decision consistency.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Business Research</em>, 65(5), 692-700.
          </span>
        </td>
      </tr>
      <tr data-name="Laer" data-date="2014">
        <td class="c-list-item u-font-bold">
          Van Laer, T. O. M., Ruyter, K. D., Visconti, L. M., & Wetzels, M. (2014). The extended transportation-imagery model: A meta-analysis of the antecedents and consequences of consumers' narrative transportation.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 40(5), 797-817.
          </span>
        </td>
      </tr>
      <tr data-name="Williams" data-date="2006">
        <td class="c-list-item u-font-bold">
          Williams, P., Block, L. G., & Fitzsimons, G. J. (2006). Simply asking questions about health behaviors increases both healthy and unhealthy behaviors.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Social Influence</em>, 1(2), 117-127.
          </span>
        </td>
      </tr>
      <tr data-name="Williams" data-date="2004">
        <td class="c-list-item u-font-bold">
          Williams, P., Fitzsimons, G. J., & Block, L. G. (2004). When consumers do not recognize "benign" intention questions as persuasion attempts.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Journal of Consumer Research</em>, 31(3), 540-551.
          </span>
        </td>
      </tr>
      <tr data-name="Yalch" data-date="1976">
        <td class="c-list-item u-font-bold">
          Yalch, R. F. (1976). Pre-election interview effects on voter turnout.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>The Public Opinion Quarterly</em>, 40(3), 331-336.
          </span>
        </td>
      </tr>
      <tr data-name="Zerbe" data-date="1987">
        <td class="c-list-item u-font-bold">
          Zerbe, W. J., & Paulhus, D. L. (1987). Socially desirable responding in organizational behavior: A reconception.
          <span class="c-list-item__source u-font-normal u-font-monospace">
            <em>Academy of Management Review</em>, 12(April), 250-264.
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
