<div id="press_content" class="o-grid u-double-push-down">
  <div class="o-grid__cell o-grid__cell--4">
    <h1>Press</h1>
    <h5 class="c-sub-heading u-font-normal u-font-monospace">What has the media said?</h5>
  </div>
  <div class="o-grid__cell o-grid__cell--8 u-double-push-down">
    <a
      href="http://breakingmuscle.com/mind-body/ask-don-t-tell-the-question-behavior-effect"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      Ask, Don't Tell: The Question-Behavior Effect
      <span class="c-list-item__source u-font-normal u-font-monospace">Breaking Muscle</span>
    </a>
    <a
      href="http://www.huffingtonpost.com/entry/how-to-keep-new-years-resolution_us_5681c60de4b0b958f65a40e5"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      This Simple Twist Can Make Your New Year's Resolution More Effective
      <span class="c-list-item__source u-font-normal u-font-monospace">Huffington Post</span>
    </a>
    <a
      href="http://www.huffingtonpost.com/entry/psychology-new-years-resolutions_us_5683e286e4b0b958f65ad409"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      Everything You Need to Know About Making New Year's Resolutions
      <span class="c-list-item__source u-font-normal u-font-monospace">Huffington Post</span>
    </a>
    <a
      href="http://www.cbsnews.com/news/how-to-motivate-others-to-stick-with-new-years-resolutions/"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      How to Make New Year's Resolutions Stick? Ask, Don't Tell
      <span class="c-list-item__source u-font-normal u-font-monospace">CBS News</span>
    </a>
    <a
      href="https://magazine.wsu.edu/2009/08/21/a-more-effective-nag/"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      Posing a Question that Asks People to Predict Their Behavior
      <span class="c-list-item__source u-font-normal u-font-monospace">WSU Magazine</span>
    </a>
    <a
      href="http://university-discoveries.com/the-self-fulfilling-prophecy"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      The Self-Fulfilling Prophecy
      <span class="c-list-item__source u-font-normal u-font-monospace">University Discoveries</span>
    </a>
    <a
      href="http://www.popularsocialscience.com/2012/12/27/the-self-fulfilling-prophecy/"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      The Self-Fulfilling Prophecy
      <span class="c-list-item__source u-font-normal u-font-monospace">Popular Social Science</span>
    </a>
    <a
      href="http://www.flavoryellow.com/2014/07/11/the-pygmalion-effect-self-fulfilling-prophecies-and-the-power-of-expectation/"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      The Pygmalion Effect: Self-Fulfilling Prophecies and the Power of Expectation
      <span class="c-list-item__source u-font-normal u-font-monospace">Flavor Yellow</span>
    </a>
    <a
      href="http://www.forbes.com/sites/amymorin/2016/01/22/study-reveals-a-conversation-trick-that-motivates-people-to-change-their-behavior/#52cfa559418a"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      Study Reveals a Conversation Trick that Motivates People to Change Their Behavior
      <span class="c-list-item__source u-font-normal u-font-monospace">Forbes</span>
    </a>
    <a
      href="http://www.techtimes.com/articles/121016/20160102/ask-don-t-tell-how-to-influence-behavior-and-achieve-goals.htm"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      Ask, Don't Tell: How to Influence Behavior and Achieve Goals
      <span class="c-list-item__source u-font-normal u-font-monospace">Tech Times</span>
    </a>
    <a
      href="http://www.dailymail.co.uk/sciencetech/article-3376697/Will-stick-New-Year-s-resolutions-Psychologists-say-asking-questions-making-statements-helps-people-follow-goals.html"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      Will You Stick to Your New Year's Resolutions?
      <span class="c-list-item__source u-font-normal u-font-monospace">Daily Mail</span>
    </a>
    <a
      href="https://www.psychologytoday.com/blog/what-mentally-strong-people-dont-do/201601/the-surprising-trick-get-someone-or-yourself-change"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      The Surprising Trick to Get Someone (or Yourself) to Change
      <span class="c-list-item__source u-font-normal u-font-monospace">Psychology Today</span>
    </a>
    <a
      href="https://www.fastcompany.com/3055387/work-smart/this-one-small-change-will-help-you-stick-to-new-habits"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      This One Small Change Will Help You Stick to New Habits
      <span class="c-list-item__source u-font-normal u-font-monospace">Fast Company</span>
    </a>
    <a
      href="http://www.glamour.com/story/ask-new-year-resolution"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      The Secret to Achieving Your 2016 Goal: Ask It, Don't Tell It
      <span class="c-list-item__source u-font-normal u-font-monospace">Glamour</span>
    </a>
    <a
      href="http://www.bustle.com/articles/132362-the-one-hack-for-sticking-to-new-years-resolutions-you-need-to-know"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      The One Hack for Sticking to New Year's Resolutions You Need to Know
      <span class="c-list-item__source u-font-normal u-font-monospace">Bustle</span>
    </a>
    <a
      href="http://www.independent.co.uk/news/science/questions-are-better-than-statements-for-new-years-resolutions-according-to-study-a6790541.html"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      Questions Are Better than Statements for New Year's Resolutions, According to Study
      <span class="c-list-item__source u-font-normal u-font-monospace">Independent</span>
    </a>
    <a
      href="http://www.refinery29.com/2015/12/100305/new-year-resolutions"
      class="c-list-item u-font-bold"
      target="_blank"
    >
      The Science-Backed Trick to Keeping Your New Year's Resolutions
      <span class="c-list-item__source u-font-normal u-font-monospace">Refinery29</span>
    </a>
  </div>
</div>
