<section class="u-large-vertical-padding">
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__cell o-grid__cell--8">
        <img src="https://images.unsplash.com/photo-1464052259809-c19ec2ddfc5f?dpr=2&auto=format&crop=entropy&fit=crop&w=1500&h=994&q=80&cs=tinysrgb" width="100%">
      </div>
      <div class="o-grid__cell o-grid__cell--6 o-grid__cell--pull-2">
        <h3 class="u-double-push-down">We're not the only ones talking. Check out what others have said about the Question-Behavior Effect.</h3>
      </div>
    </div>

    <div id="all"></div>
    <div id="press"></div>
    <div id="papers"></div>

    <div class="o-grid c-target-links u-push-down u-text-right">
      <div class="o-grid__cell o-grid__cell--12">
        <ul class="u-no-bottom-margin c-inline-list">
          <li class="c-inline-list__item">Show me:</li>
          <li class="c-inline-list__item"><a href="#all" data-turbolinks="false" data-target="all">Everything</a></li>
          <li class="c-inline-list__item"><a href="#press" data-turbolinks="false" data-target="press">Press</a></li>
          <li class="c-inline-list__item"><a href="#papers" data-turbolinks="false" data-target="papers">Papers</a></li>
        </ul>
      </div>
    </div>

    <%= render partial: "press" %>

    <%= render partial: "papers" %>
  </div>
</section>

<script>
  new QBE.SortPapers();
</script>
