h6 { @include type-setting(0); }

h5 { @include type-setting(1); }

h4 { @include type-setting(2); }

h3 { @include type-setting(3); }

h2 { @include type-setting(4); }

h1 { @include type-setting(5); }

h1 { font-weight: 300; }
h2, h3 { font-weight: 400; }
h4, h5, h6 { font-weight: 700; }

h1, h2, h3, h4, h5, h6 { color: color(black); }

p, ul {
  font-family: $font-monospace;
  margin: 0 0 margin(1);
}

ul { padding-left: $base-line-height; }

a {
  color: color(black);

  &:hover:not(.c-button) {
    color: color(primary);
  }
}

label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0.25rem;
}

small { font-size: 80%; }
