.o-container {
  margin: auto;
  max-width: 1248px + 64px;
  padding: 0 32px;
  width: 100%;
}

.o-conainer--medium {
  max-width: 1024px + 64px;
}

.container--small {
  max-width: 768px + 64px;
}

.container--xsmall {
  max-width: 480px + 64px;
}
