.o-container {
  @include clearfix;
  margin: auto;
  max-width: 1280px + 64px;
  padding: 0 32px;
  width: 100%;
}

.o-container--medium {
  max-width: 1024px + 64px;
}

.o-container--small {
  max-width: 768px + 64px;
}

.o-container--xsmall {
  max-width: 512px + 64px;
}
