.o-countdown {
  @include clearfix;
  color: color(black);
  font-family: $font-monospace;
  max-height: 5*$base-line-height;
  padding: $base-line-height 0;
  text-align: center;
}

.o-countdown__number {
  display: inline-block;
  font-size: map-get($type-scale, 4);
  line-height: 1;
  height: 4.5rem;
  text-align: center;
  width: 6rem;

  &:after {
    color: color(gray);
    display: block;
    font-family: $font-sans-serif;
    font-size: map-get($type-scale, -1);
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    text-transform: uppercase;
  }
}

[data-countdown="days"]:after { content: "Days"; }
[data-countdown="hours"]:after { content: "Hours"; }
[data-countdown="minutes"]:after { content: "Minutes"; }
[data-countdown="seconds"]:after { content: "Seconds"; }

@media only screen and (max-width: 512px) {
  .o-countdown {
    max-height: 4*$base-line-height;
    padding: 0.75*$base-line-height 0 0.25*$base-line-height;
  }

  .o-countdown__number {
    font-size: map-get($type-scale, 3);
    width: 5rem;
  }
}

@media only screen and (max-width: 420px) {
  [data-countdown="seconds"] { display: none; }
}
