.o-countdown {
  color: color(black);
  font-family: $font-monospace;
  padding: 1.5rem 0;
  text-align: center;
}

.o-countdown__number {
  display: inline-block;
  font-size: map-get($type-scale, 4);
  line-height: 1;
  height: 4.5rem;
  text-align: center;
  width: 6rem;

  &:after {
    color: color(gray);
    display: block;
    font-family: $font-sans-serif;
    font-size: map-get($type-scale, -1);
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    text-transform: uppercase;
  }
}

[data-countdown="days"]:after { content: "Days"; }
[data-countdown="hours"]:after { content: "Hours"; }
[data-countdown="minutes"]:after { content: "Minutes"; }
[data-countdown="seconds"]:after { content: "Seconds"; }
