@media only screen and (max-width: 768px) {
  .v-footer {
    .o-grid__cell {
      margin-left: 0;
      margin-top: 3*$base-line-height;
      width: 100%;

      &:first-child {
        margin-top: 0;
      }
    }

    .v-footer__nav-2 {
      margin-top: $base-line-height;
    }
  }
}
