.o-grid {
  @include clearfix;
  margin-left: -32px;
  margin-right: -32px;
  position: relative;
}

.o-grid--small-padding {
  .o-grid__cell {
    padding: 0 32px;
  }
}

.o-grid__cell {
  float: left;
  min-height: 1px;
  padding: 0 64px;
}

.o-grid__cell--12 { width: 100%; }
.o-grid__cell--11 { width: 91.666%; }
.o-grid__cell--10 { width: 83.333%; }
.o-grid__cell--9 { width: 75%; }
.o-grid__cell--8 { width: 66.666%; }
.o-grid__cell--7 { width: 58.333%; }
.o-grid__cell--6 { width: 50%; }
.o-grid__cell--5 { width: 41.666%; }
.o-grid__cell--4 { width: 33.333%; }
.o-grid__cell--3 { width: 25%; }
.o-grid__cell--2 { width: 16.666%; }
.o-grid__cell--1 { width: 8.333%; }

.o-grid__cell--offset-11 { margin-left: 91.666%; }
.o-grid__cell--offset-10 { margin-left: 83.333%; }
.o-grid__cell--offset-9 { margin-left: 75%; }
.o-grid__cell--offset-8 { margin-left: 66.666%; }
.o-grid__cell--offset-7 { margin-left: 58.333%; }
.o-grid__cell--offset-6 { margin-left: 50%; }
.o-grid__cell--offset-5 { margin-left: 41.666%; }
.o-grid__cell--offset-4 { margin-left: 33.333%; }
.o-grid__cell--offset-3 { margin-left: 25%; }
.o-grid__cell--offset-2 { margin-left: 16.666%; }
.o-grid__cell--offset-1 { margin-left: 8.333%; }
