.o-header {
  @include clearfix;
  background: white;
  padding: 0 32px;
}

.o-header__logo {
  float: left;
  margin-top: 25px;
}

.o-main-nav__link {
  border-radius: 2px;
  color: color(gray-darker);
  display: inline-block;
  font-family: $font-monospace;
  margin: $base-line-height 0.375*$base-line-height;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: color(gray-light);
  }

  &:last-child {
    margin-right: 0;
  }
}

.o-main-nav__separator {
  border-left: 1px solid color(gray-light);
  margin: $base-line-height (0.375*$base-line-height + 0.5rem);
  padding: 0.25rem 0;
}

.o-header__mobile-link {
  display: none;
  font-size: map-get($type-scale, 1);
  padding: 1.15rem;
  margin-right: -1.15rem;
}

@media only screen and (max-width: 1088px) {
  .o-header__mobile-link-icon,
  .o-header__mobile-link-icon:after,
  .o-header__mobile-link-icon:before {
    background: color(black);
    display: inline-block;
    height: 2px;
    width: 24px;
  }

  .o-header__mobile-link-icon {
    background: color(black);
    position: relative;
    vertical-align: middle;
    will-change: background, transform;

    &:after,
    &:before {
      content: "";
      left: 0;
      position: absolute;
      transform: rotate(0) translate(0,0);
    }

    &:after {
      bottom: -8px;
    }

    &:before {
      top: -8px;
    }
  }

  .o-header__mobile-cover {
    background: black;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    transition: map-get($transitions, deceleration);
    transition-property: opacity, visibility;
    top: 0;
    visibility: hidden;
    width: 100%;
    will-change: opacity, visibility;
    z-index: 10000;
  }

  .o-header__logo {
    margin: 1rem 0;
  }

  .o-header__mobile-link {
    display: block;
  }

  .o-main-nav {
    box-shadow: map-get($box-shadows, xwide);
    font-size: 1.25rem;
    height: 100%;
    left: 0;
    max-height: 100%;
    overflow: scroll;
    padding: $base-line-height 2*$base-line-height;
    position: fixed;
    top: 0;
    transition: map-get($transitions, deceleration);
    transition-property: transform;
    transform: translateX(-100%);
    will-change: transform;
    z-index: 10002;
  }

  #menu:target {
    .o-header__mobile-link-icon {
      background: transparent;

      &:before {
        transform: rotate(45deg) translate(6px,6px);
        transform: rotate(45deg) translate3d(6px,6px,0);
      }

      &:after {
        transform: rotate(-45deg) translate(5px,-6px);
        transform: rotate(-45deg) translate3d(5px,-6px,0);
      }
    }

    .o-header__mobile-cover {
      transition: map-get($transitions, acceleration);
      transition-property: opacity, visibility;
      opacity: 0.25;
      visibility: visible;
    }

    .o-main-nav {
      transition: map-get($transitions, acceleration);
      transition-property: transform;
      transform: translateX(0);
    }
  }

  .o-main-nav__link {
    clear: both;
    float: left;
    font-family: $font-sans-serif;
    margin: 0.5rem 0;
    min-width: 12rem;
    text-align: left;
  }

  .o-main-nav__link--sign-up { min-width: 0; }

  .o-main-nav__separator {
    border-left: 0;
    border-top: 1px solid color(gray-light);
    clear: both;
    float: right;
    margin: 0.5rem 0;
    padding: 0;
    width: 100%;
  }
}
