.o-header {
  @include clearfix;
  background: white;
  padding: 0 32px;
}

.o-header__logo {
  float: left;
  margin-top: 25px;
}

.o-main-nav__link {
  border-radius: 2px;
  color: color(gray-darker);
  display: inline-block;
  font-family: $font-monospace;
  margin: $base-line-height 0.375*$base-line-height;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: color(gray-light);
  }

  &:last-child {
    margin-right: 0;
  }
}

.o-main-nav__separator {
  border-left: 1px solid color(gray-light);
  margin: $base-line-height (0.375*$base-line-height + 0.5rem);
  padding: 0.25rem 0;
}
