.o-password-strength-wrap {
  margin-bottom: -1.25rem;
  margin-right: -5px;
}

.o-password-strength {
  @include clearfix;
  margin-top: 0.375rem;
  width: 100%;
}

.o-password-strength__indicator {
  background: color(gray-light);
  border-right: 5px solid white;
  display: block;
  float: left;
  height: 5px;
  position: relative;
  width: 25%;
}

[data-strength="1"] {
  [data-value="1"] {
    background: color(danger);
  }

  .o-password-strength__review {
    color: color(danger);
  }
}

[data-strength="2"] {
  [data-value="1"],
  [data-value="2"] {
    background: color(warning);
  }

  .o-password-strength__review {
    color: color(warning);
  }
}

[data-strength="3"] {
  [data-value="1"],
  [data-value="2"],
  [data-value="3"] {
    background: color(accent);
  }

  .o-password-strength__review {
    color: color(accent);
  }
}

[data-strength="4"] {
  [data-value="1"],
  [data-value="2"],
  [data-value="3"],
  [data-value="4"] {
    background: #388E3C;
  }

  .o-password-strength__review {
    color: #388E3C;
  }
}

.o-password-strength__review,
.o-password-strength__recommendations {
  display: inline-block;
  font-size: 80%;
}

.o-password-strength__review:after {
  content: attr(data-strength-text);
}

.o-password-strength__recommendations {
  background: color(primary);
  border-radius: 50%;
  color: white;
  height: 1rem;
  line-height: 1rem;
  margin-right: 5px;
  text-align: center;
  width: 1rem;

  &:after {
    font-family: $font-monospace;
    line-height: 1.5;
    white-space: normal;
    width: 320px;
  }
}
