<section class="v-home-banner u-text-white u-text-center">
  <div class="o-container">
    <h1 class="v-home-banner__heading u-text-white u-font-bold u-display-inline-block">
      Question-Behavior Effect
    </h1>
    <div class="o-grid u-text-left u-push-down">
      <div class="o-grid__cell o-grid__cell--6">
        <h5 class="u-text-white u-font-normal u-no-margin">
          Will we see you in Berlin? Will you join us at the Roundtable?
          Will you help contribute to furthering this area of research?
        </h5>
      </div>
    </div>
  </div>
</section>

<section class="u-large-bottom-padding">
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__cell o-grid__cell--8 u-double-push-down">
        <div class="v-home-question-image__img u-push-down"></div>
      </div>

      <div class="o-grid__cell o-grid__cell--6 o-grid__cell--pull-2">
        <div class="v-home-roundtable c-xwide-shadow u-bg-white u-large-bottom-padding u-radius">
          <div class="o-countdown u-stretch-in-grid u-bg-light-gray">
            <div class="o-countdown__number o-countdown__number--days">34</div>
            <div class="o-countdown__number o-countdown__number--hours">08</div>
            <div class="o-countdown__number o-countdown__number--minutes">21</div>
            <div class="o-countdown__number o-countdown__number--seconds">55</div>
          </div>
          <h2 class="u-no-bottom-margin u-push-down">The Roundtable</h2>
          <h5 class="c-sub-heading u-font-normal u-font-monospace">ACR, October 27, 2016</h5>
          <p>Join us as we challenge theoretical perspectives and facilitate further collaboration on the question-behavior effect.</p>
          <button class="c-button c-button--accent u-push-down">Join Us in Berlin</button>
        </div>
      </div>
    </div>
    <div class="o-grid u-push-down">
      <div class="o-grid__cell o-grid__cell--8 o-grid__cell--offset-2 u-double-push-down u-text-right u-relative">
        <h1>What is the question-behavior effect?</h1>
      </div>
      <div class="o-grid__cell o-grid__cell--6 o-grid__cell--offset-2 u-text-left u-push-down" style="">
        <p>For 40 years, consumer psychologists have explored the nature of the question-behavior effect. A <a href="">new meta-analysis of the effect</a> finds varying support for four over-arching theoretical mechanisms: attitudes, consistency, fluency, &amp; motivations.</p>
        <p>In brief, the question-behavior effect is a behavioral influence technique whereby asking someone about the future performance of a behavior changes the likelihood of that person performing the questioned behavior in the future.</p>
      </div>
      <!-- <div class="o-grid__cell o-grid__cell--6" style="margin-top: -12rem;">
        <img src="https://images.unsplash.com/photo-1464128549965-cd1abc417a4a?dpr=2&amp;auto=format&amp;crop=entropy&amp;fit=crop&amp;w=1500&amp;h=1124&amp;q=80&amp;cs=tinysrgb">
      </div> -->
    </div>
  </div>
</section>

<section class="u-bg-white u-large-vertical-padding">
  <div class="o-container u-push-down">
    <div class="o-grid o-grid--small-padding">
      <div class="o-grid__cell o-grid__cell--3">
        <div class="c-card u-bg-light-gray">
          <img class="c-card__image" src="http://img.huffingtonpost.com/asset/scalefit_620_noupscale/5685480b190000190178adf9.jpeg">
          <div class="c-card__content">
            <div class="c-card__category">Press</div>
            <p class="u-font-bold u-font-sans-serif">Everything you need to know about making new year's resolutions</p>
            <a href="#" class="c-card__ref">Huffington Post</a>
          </div>
        </div>
      </div>
      <div class="o-grid__cell o-grid__cell--3">
        <div class="c-card u-bg-light-gray">
          <img class="c-card__image" src="http://img.huffingtonpost.com/asset/scalefit_620_noupscale/56855e031600000001eb9d1d.jpeg">
          <div class="c-card__content">
            <div class="c-card__category">Paper</div>
            <p class="u-font-bold u-font-sans-serif">A Meta-Analytic Synthesis of the Question-Behavior Effect</p>
            <a href="#" class="c-card__ref">SSRN</a>
          </div>
        </div>
      </div>
      <div class="o-grid__cell o-grid__cell--3">
        <div class="c-card u-bg-primary u-text-white">
          <div class="c-card__content">
            <h3 class="u-text-white u-push-down">Join the Discussion</h3>
            <p>Add your voice to the ongoing discussion and discovery.</p>
            <br><br><br>
          </div>
        </div>
      </div>
      <div class="o-grid__cell o-grid__cell--3">
        <div class="c-card u-bg-light-gray">
          <img class="c-card__image" src="http://cbsnews1.cbsistatic.com/hub/i/r/2015/04/08/606c59e6-0f98-43c2-9800-c5f9dce0cab3/thumbnail/620x350/221d59b75881262079152ab0061cc325/exercise.jpg">
          <div class="c-card__content">
            <div class="c-card__category">Press</div>
            <p class="u-font-bold u-font-sans-serif">How to make New Year's resolutions stick? Ask, don't tell</p>
            <a href="#" class="c-card__ref">CBS News</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
