<section class="u-home-banner u-text-white u-text-center">
  <div class="o-container">
    <h1 class="u-home-banner__heading u-text-white u-font-bold u-display-inline-block">
      Question-Behavior Effect
    </h1>
    <div class="o-grid u-text-left u-push-down">
      <div class="o-grid__cell o-grid__cell--6">
        <h5 class="u-text-white u-font-normal u-no-margin">
          Will we see you in Berlin? Will you join us at the Roundtable?
          Will you help contribute to furthering this area of research?
        </h5>
      </div>
    </div>
  </div>
</section>

<section class="u-large-bottom-padding">
  <div class="o-container">
    <div class="o-grid">
      <div class="o-grid__cell o-grid__cell--6 u-double-push-down u-text-right">
        <h1>What is the question-behavior effect?</h1>
        <p>For 40 years, consumer psychologists have explored the nature of the question-behavior effect (QBE). A new meta-analysis of the effect finds varying support for four over-arching theoretical mechanisms: attitudes, consistency, fluency, &amp; motivations.</p>
        <p>In brief, the QBE is a behavioral influence technique whereby asking people about the future performance of a behavior changes the likelihood of performing the questioned behavior in the future.</p>
      </div>
      <div class="u-home-roundtable o-grid__cell o-grid__cell--5 o-grid__cell--offset-1 c-xwide-shadow u-bg-white u-large-bottom-padding u-radius">
        <div class="o-countdown u-stretch-in-grid u-bg-light-gray">
          <div class="o-countdown__number o-countdown__number--days">34</div>
          <div class="o-countdown__number o-countdown__number--hours">08</div>
          <div class="o-countdown__number o-countdown__number--minutes">21</div>
        </div>
        <h2 class="u-no-bottom-margin u-push-down">The Roundtable</h2>
        <h4 class="c-sub-heading u-font-normal u-font-monospace">ACR, October 27, 2016</h4>
        <p>Join us as we challenge theoretical perspectives and facilitate further collaboration on the question-behavior effect.</p>
        <button class="c-button c-button--accent u-push-down">Join Us in Berlin</button>
      </div>
    </div>
    <div class="o-grid u-home-question-image">
      <div class="o-grid__cell o-grid__cell--8 o-grid__cell--offset-4">
        <div class="u-home-question-image__img"></div>
      </div>
    </div>
  </div>
</section>

<section class="u-bg-light-gray u-large-vertical-padding">
  <div class="o-container u-push-down">
    <div class="o-grid o-grid--small-padding">
      <div class="o-grid__cell o-grid__cell--3">
        <div class="c-card">
          <img class="c-card__image" src="http://img.huffingtonpost.com/asset/scalefit_620_noupscale/5685480b190000190178adf9.jpeg">
          <div class="c-card__content">
            <div class="c-card__category">Press</div>
            <p class="u-font-bold u-font-sans-serif">Everything you need to know about making new year's resolutions</p>
            <a href="#" class="c-card__ref">Huffington Post</a>
          </div>
        </div>
      </div>
      <div class="o-grid__cell o-grid__cell--3">
        <div class="c-card">
          <img class="c-card__image" src="http://img.huffingtonpost.com/asset/scalefit_620_noupscale/56855e031600000001eb9d1d.jpeg">
          <div class="c-card__content">
            <div class="c-card__category">Paper</div>
            <p class="u-font-bold u-font-sans-serif">A Meta-Analytic Synthesis of the Question-Behavior Effect</p>
            <a href="#" class="c-card__ref">SSRN</a>
          </div>
        </div>
      </div>
      <div class="o-grid__cell o-grid__cell--3">
        <div class="c-card u-bg-primary u-text-white">
          <div class="c-card__content">
            <h3 class="u-text-white u-push-down">Join the Discussion</h3>
            <p>Add your voice to the ongoing discussion and discovery.</p>
            <!-- <button class="c-button c-button--accent"></button> -->
          </div>
        </div>
      </div>
      <div class="o-grid__cell o-grid__cell--3">
        <div class="c-card">
          <img class="c-card__image" src="http://img.huffingtonpost.com/asset/scalefit_620_noupscale/5681c7181600000001eb9a50.jpeg">
          <div class="c-card__content"></div>
        </div>
      </div>
    </div>
  </div>
</section>
