.u-text-primary { color: color(primary) !important; }
.u-text-accent { color: color(accent)  !important; }
.u-text-alt { color: color(alt) !important; }
.u-text-black { color: color(black) !important; }
.u-text-white { color: white !important; }
.u-text-gray { color: color(gray) !important; }
.u-text-darkish-gray { color: color(gray-darkish) !important; }
.u-text-dark-gray { color: color(gray-dark) !important; }

.u-bg-primary { background: color(primary) !important; }
.u-bg-accent { background: color(accent) !important; }
.u-bg-alt { background: color(alt) !important; }
.u-bg-black { background: color(black) !important; }
.u-bg-white { background: white !important; }
.u-bg-light-gray { background: color(gray-light); }
