.u-text-primary { color: color(primary); }
.u-text-accent { color: color(accent) ; }
.u-text-alt { color: color(alt); }
.u-text-black { color: color(black); }
.u-text-white { color: white; }
.u-text-white--hover:hover { color: white !important; }
.u-text-gray { color: color(gray); }
.u-text-darkish-gray { color: color(gray-darkish); }
.u-text-dark-gray { color: color(gray-dark); }

.u-bg-primary { background: color(primary); }
.u-bg-accent { background: color(accent); }
.u-bg-black { background: color(black); }
.u-bg-white { background: white; }
.u-bg-light-gray { background: color(gray-light); }
.u-bg-lighter-gray { background: color(gray-lighter); }
.u-bg-darker-gray { background: color(gray-darker); }
