.u-display-none { display: none; }
.u-display-block { display: block; }
.u-display-inline { display: inline; }
.u-display-inline-block { display: inline-block; }

.u-hide { display: none; }
.u-hidden { visibility: hidden; }
