.u-push-down { margin-top: $base-line-height; }
.u-double-push-down { margin-top: 2*$base-line-height; }

.u-no-margin { margin: 0; }
.u-no-bottom-margin { margin-bottom: 0; }

.u-bottom-padding { padding-bottom: $base-line-height; }

.u-large-padding { padding: 2*$base-line-height 64px; }
.u-large-bottom-padding { padding-bottom: 2*$base-line-height; }
.u-large-vertical-padding {
  padding-bottom: 2*$base-line-height;
  padding-top: 2*$base-line-height;
}

.u-stretch-in-grid {
  margin-left: -64px;
  margin-right: -64px;
}

.u-clearfix { @include clearfix; }
