.c-button {
  background: color(gray);
  border: 0;
  border-radius: $border-radius;
  box-shadow: map-get($box-shadows, button);
  color: white;
  cursor: pointer;
  padding: 0.5*$base-line-height $base-line-height;
  text-decoration: none;
  transition: map-get($transitions, simple);

  &:hover {
    box-shadow: map-get($box-shadows, button-hover);
  }
}

.c-button--block {
  clear: both;
  display: block;
  width: 100%;
}

.c-button--sort {
  margin: 0 2px;
  box-shadow: none;
  padding: 0.25rem 0.75rem;

  &:after {
    content: "→";
    padding-left: 0.25*$base-line-height;
  }

  &:hover {
    box-shadow: none;
  }
}

[data-sort-order="descend"].c-button--primary:after {
  content: "↑";
}

[data-sort-order="ascend"].c-button--primary:after {
  content: "↓";
}

.c-button--primary { background: color(primary); }
.c-button--accent { background: color(accent); }
