.c-button {
  background: color(gray);
  border: 0;
  border-radius: $border-radius;
  box-shadow: map-get($box-shadows, button);
  color: white;
  cursor: pointer;
  padding: 0.5*$base-line-height $base-line-height;
  text-decoration: none;
  transition: map-get($transitions, simple);

  &:hover {
    box-shadow: map-get($box-shadows, button-hover);
  }
}

.c-button--block {
  clear: both;
  display: block;
  width: 100%;
}

.c-button--sort {
  font-family: $font-monospace-icon;
  margin: 0 2px;
  box-shadow: none;
  padding: 0.25rem 0.75rem;

  &:after {
    content: "\e000";
    padding-left: 0.25*$base-line-height;
  }

  &:hover {
    box-shadow: none;
  }
}

.c-button--small {
  font-size: map-get($type-scale, -1);
  padding: 0.5rem 1rem;
}

[data-sort-order="descend"].c-button--primary:after {
  content: "\e002";
}

[data-sort-order="ascend"].c-button--primary:after {
  content: "\e001";
}

.c-button--primary { background: color(primary); }
.c-button--accent { background: color(accent); }
