.c-card {
  background: white;
  border-radius: $border-radius;
  box-shadow: map-get($box-shadows, small);
  display: block;
  margin-bottom: $base-line-height;
  overflow: hidden;
  text-decoration: none;
  transition: map-get($transitions, simple);

  &:hover {
    box-shadow: map-get($box-shadows, wide);
  }
}

.c-card--comment {
  margin-top: 0.25*$base-line-height;
  padding-top: 0.5*$base-line-height;
}

.c-card--no-shadow,
.c-card--no-shadow:hover {
  box-shadow: none;
}

.c-card__content {
  display: block;
  padding: $base-line-height;
  padding-top: 0.5*$base-line-height;
}

.c-card__category {
  color: color(gray);
  font-family: $font-monospace;
  font-weight: 400;
  text-transform: uppercase;
}

.c-card__ref {
  color: color(gray-dark);
  font-family: $font-monospace;
  text-decoration: underline;

  &:active,
  &:visited,
  &:focus {
    color: color(gray-dark);
  }
}
