.c-discussion-items {
  min-height: 3.75rem;
}

.c-discussion-items,
.c-discussion-item {
  width: 100%;
}

.c-discussion-item {
  margin: $base-line-height 0;
  padding-left: 2.25rem;
  position: relative;

  &:last-child { margin-bottom: $base-line-height; }
}

.c-discussion-item__voting {
  float: left;
  left: 0;
  padding-right: $base-line-height;
  position: absolute;
  top: -4px;
}

.c-discussion-item__link {
  text-decoration: none;
}

.c-discussion-item__title:hover {
  color: color(primary);
}

.c-discussion-item__info {
  @include type-setting(-1, false);
}

@media only screen and (max-width: 1088px) {
  .v-discussions {
    .o-container {
      max-width: 768px;
    }

    .o-grid__cell {
      margin-left: 0;
      width: 100%;

      &:last-child {
        margin-top: 2*$base-line-height;
      }
    }

    .c-button {
      float: right;
    }
  }
}

@media only screen and (max-width: 832px) {
  .v-discussion-article {
    .c-discussion-item__voting {
      left: 32px;
      top: -8px;
    }

    .c-discussion-item__title {
      padding-left: 32px;
    }
  }
}
