.c-discussion-items {
  min-height: 3.75rem;
}

.c-discussion-items,
.c-discussion-item {
  width: 100%;
}

.c-discussion-item {
  margin: $base-line-height 0;
  padding-left: 2.25rem;
  position: relative;

  &:last-child { margin-bottom: $base-line-height; }
}

.c-discussion-item__voting {
  float: left;
  left: 0;
  padding-right: $base-line-height;
  position: absolute;
}

.c-discussion-item__link {
  text-decoration: none;
}

.c-discussion-item__title:hover {
  color: color(primary);
}

.c-discussion-item__info {
  @include type-setting(-1, false);
}
