.c-discussion-items {
  overflow: hidden;
  padding: 0 0.5*$base-line-height;
}

.c-discussion-items,
.c-discussion-item {
  width: 100%;
}

.c-discussion-item {
  margin: $base-line-height 0 2*$base-line-height;
  padding-left: 2*$base-line-height;
  position: relative;
}

.c-discussion-item__voting {
  float: left;
  left: 0;
  padding-right: $base-line-height;
  position: absolute;
}

.c-discussion-item__link {
  text-decoration: none;
}

.c-discussion-item__title:hover {
  color: color(primary);
}
