.c-list-link {
  font-weight: 700;
  margin-bottom: $base-line-height;
  text-decoration: none;
}

.c-list-link,
.c-list-link__source { display: block; }

.c-list-link__source { font-size: type-scale(-1); }
